.logo {
    width: 31px;
    height: 31px;
    object-fit: contain;
    max-width: unset;
    transition: opacity .25s linear;

    @media(any-hover: hover) {
        &:hover {
            opacity: .7;
        }
    }
}