.page {
  position: relative;
  right: 1.5rem;
  top: 1.5rem;
  background-color: var(--bg-p);
  width: 100%;
  max-height: calc(100vh - 3rem);
  overflow-y: auto;
  border-radius: var(--br);
  box-shadow: var(--shadow);

  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 1.5rem;

  @media(max-width: 1200px) {
    box-shadow: unset;
    right: 0;
    top: 0;
    max-height: 100%;
    margin-top: calc(1.5rem + 65px);
  }
}
