.btn {
    background-color: var(--accent);
    transition: transform .25s linear, opacity .25s linear;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    @media(any-hover:hover) {
        &:hover {
            transform: scale(1.15);
        }
    }
}