@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-inter: var(--ff-inter);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-card-opacity: var(--card-opacity);
  --color-card-opacity-foreground: var(--card-opacity-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-badge: var(--badge);
  --color-badge-foreground: var(--badge-foreground);

  --color-deep: var(--deep);
  --color-deep-foreground: var(--deep-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-card-background: var(--secondary-card-background);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-burger: var(--burger);
  --color-burger-foreground: var(--burger-foreground);
}

:root {
  --ff-inter: 'Inter', sans-serif;

  --radius: 0.625rem;

  --success: #3b8a43;
  --success-foreground: #53f39d;

  --destructive: #aa4042;

  --background: rgb(226, 229, 238);
  --foreground: #020013;

  --card: #fff;
  --card-foreground: #100f1e;

  --card-opacity: #fff;
  --card-opacity-foreground: #100f1e95;

  --popover: #ffffff80;
  --popover-foreground: #100f1e;

  --badge: #fff;
  --badge-foreground: #283249;

  --deep: #d8dadc;
  --deep-foreground: #0e1016;

  --primary: #797eff;
  --primary-foreground: #fff;

  --secondary: #a2a4ac;
  --secondary-foreground: #100f1e;
  --secondary-card-background: #d1d1d1;

  --muted: rgb(226, 229, 238);
  --muted-foreground: #100f1e;

  --accent: #a2a4ac;
  --accent-foreground: #100f1e;

  --border: #e6e6e6e3;
  --input: #e6e6e6e3;
  --ring: #212121;

  --sidebar: #100f1e;
  --sidebar-foreground: #ffffff70;
  --sidebar-primary: #ffffff80;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #2d2f39;
  --sidebar-accent-foreground: #ffffff80;
  --sidebar-border: #2d2f39;
  --sidebar-ring: #ffffff10;

  --burger: #2d2f39;
  --burger-foreground: #fff;
}

.dark {
  --ff-inter: 'Inter', sans-serif;

  --success: #3b8a43;
  --success-foreground: #53f39d;

  --destructive: #aa4042;

  --background: #020013;
  --foreground: #fff;

  --card: #100f1e;
  --card-foreground: #fff;

  --card-opacity: #100f1e95;
  --card-opacity-foreground: #fff;

  --popover: #100f1e;
  --popover-foreground: #ffffff80;

  --badge: #283249;
  --badge-foreground: #fff;

  --deep: #0e1016;
  --deep-foreground: #d8dadc;

  --primary: #6368e2;
  --primary-foreground: #fff;

  --secondary: #100f1e;
  --secondary-foreground: #a2a4ac;
  --secondary-card-background: #283249;

  --muted: #100f1e;
  --muted-foreground: #a2a4ac;

  --accent: #100f1e;
  --accent-foreground: #a2a4ac;

  --border: #ffffff10;
  --input: #ffffff10;
  --ring: #a1a1a1;

  --sidebar: #100f1e;
  --sidebar-foreground: #a2a4ac;
  --sidebar-primary: #ffffff80;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #2d2f39;
  --sidebar-accent-foreground: #ffffff80;
  --sidebar-border: #2d2f39;
  --sidebar-ring: #ffffff10;

  --burger: #2d2f39;
  --burger-foreground: #fff;
}

html {
  scroll-behavior: smooth;
  font-family: var(--ff-inter);
  background: var(--background);
  color: var(--foreground);
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1 0 auto;
}

button,
a {
  cursor: pointer;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
